@model WebPharmacy.Models.Thuoc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<h1>Chi tiết</h1>

<div>
    <h4>Thuốc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Model.Gia.ToString("N0") VNĐ
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnhUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnhUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiThuoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiThuoc.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
