@using WebPharmacy.ViewModels
@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Giỏ hàng";
}
<div class="row checkoutForm">
    <h2 class="my-4">Giỏ hàng của bạn</h2>

    @if (TempData["CartIsEmpty"] != null)
    {
        <div class="alert alert-warning">@TempData["CartIsEmpty"]</div>
    }

    @if(Model.ShoppingCart.ShoppingCartItems.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Số lượng</th>
                    <th>Sản phẩm</th>
                    <th class="text-end">Giá</th>
                    <th class="text-end">Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@line.SoLuong</td>
                        <td class="text-left">@line.Thuoc.TenThuoc</td>
                        <td class="text-end">@line.Thuoc.Gia.ToString("N0") VNĐ</td>
                        <td class="text-end">
                            @((line.SoLuong * line.Thuoc.Gia).ToString("N0")) VNĐ
                        </td>
                        <td class="text-center"><a class="btn btn-sm btn-danger" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-id="@line.Thuoc.Id">Xóa</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end fw-bold">Tổng cộng:</td>
                    <td class="text-end fw-bold">
                        @Model.ShoppingCartTotal.ToString("N0") VNĐ
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-end">
            <div class="btn-group ">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Thanh toán</a>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>Giỏ hàng của bạn đang trống.</p>
            <a class="btn btn-primary" asp-controller="Thuoc" asp-action="Index">Mua sắm ngay</a>
        </div>
    }
</div>
</div>
